global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: next-app
    scheme: https
    metrics_path: /api/metrics
    static_configs:
      - targets: ['pec-m2.vercel.app']
